    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About Me</h2>
          <h3><em>Shalil Awaley</em></h3>
          <h4>
            <a href="{{site.social.first.url}}" target="_blank">@krazedkrish
            </a>
          </h4>
          <p>
            geek by nature, 
            <img src="/img/archlinux.png" alt="Archlinux" style="height: 32px;">
            user by choice
          </p>
          <p>
            believe in Freedom including Freedom to make mistakes and learn from it
          </p>
          <p>
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <code>
            Emacs Addict
            </code>
            <br />
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <code>
            Linux Expert
            </code>
            <br />
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <code>
            Opensource Lover
            </code>
            <br />
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <code>
            Rails Enthusiast 
            </code>
            <br />
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <code>
            Software Engineer
            </code>
          </p>
          <p>
            <i class="fa fa-trophy" aria-hidden="true"></i>
            <code>
              <a href='https://tech.aakarpost.com/2014/12/ict-for-agriculture-becomes-grand.html' target='_blank'>
                Winner of Ncell App Camp in Tourism from "Team Lipi" [Dec 11, 2014]
              </a>
            </code>
            <br />
            <i class="fa fa-trophy" aria-hidden="true"></i>
            <code>
              <a href='http://www.pdhakal.com.np/2014/06/leapfrog-hackathon-2014-held.html' target='_blank'>
                First Prize in Leapfrog Hackathon for "3D Visualization" [Jun 1, 2014]
              </a>
            </code>
          </p>
          <p>I also write
            <strong>
              <a href="/blog" id="check-blog" data-sr="over 2s">
                some tech. blogs
              </a>
            </strong>
            as guides, so that others dont suffer the same problems that i did.
          </p>
          <p>Recently, I am 
              <strong>
                  <a href="/#contact" data-sr="over 3s">
                      available for hire.
                  </a>
              </strong>
          </p>
        </div>
      </div>
      <section id="opensource-contrib-section">
      <br/>
      <div class="row">
        <div id="opensource-contrib">
          <button id="opensource-contrib-btn" class="btn btn-default btn-lg" data-sr="scale up 20%, over 2s">
            See my opensource contributions
          </button>
        </div>
        <div id="opensource-contrib-panel">
        </div>
      </div>
      <br />
      </section>
    </section>
