    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>About Me</h2>
          <h3><em>Shalil Awaley</em></h3>
          <h4>
            <a href="{{site.social.first.url}}" target="_blank">@krazedkrish
            </a>
          </h4>
          <p>I am a <em>rails enthusiast</em> and a software engineer by profession</p>
          <p>My talent to learn a skill is better than my programming skill</p>
          <p>I also write
            <strong>
              <a href="/blog" id="check-blog" data-sr="over 2s">
                some tech. blogs
              </a>
            </strong>
            as guides, so that others dont suffer the same problems that i did.
          </p>
        </div>
      </div>
      <section id="opensource-contrib-section">
      <br/>
      <div class="row">
        <div id="opensource-contrib">
          <button id="opensource-contrib-btn" class="btn btn-default btn-lg" data-sr="scale up 20%, over 2s">
            See my opensource contributions
          </button>
        </div>
        <div id="opensource-contrib-panel">
        </div>
      </div>
      <br />
      </section>
    </section>
